@import "imports/variables.scss";
@import "imports/general-class";

html {
	scroll-behavior: smooth;
}

body {
	background-color: $principalBgColor;
	font-family: $principalFont;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

.footer {
	margin-top: auto;
	min-height: 60px;
}

.header,
.footer {
	background-color: $secundaryBgColor;
}

.header {
	display: grid;
	grid-template-columns: 2fr 10fr;
	position: fixed;
	top: 0;
	z-index: 2;
	left: 0;

	.header__logo {
		margin-left: 20px;
		width: 300px;
	}

	.header__menu-img {
		display: none;
	}

	.header__list-principal-menu {
		display: grid;
		grid-template-columns: repeat(5, auto);
		position: fixed;
		right: 2%;
		margin-top: 20px;

		a {
			margin-left: 15px;
			padding-right: 15px;
			border-right: 1px solid #f5f5f5;

			&:last-of-type {
				border: 0 !important;
			}

			li {
				transition: 0.5s;

				&:hover {
					transform: scale(1.1);
					color: $primaryColor;
					font-weight: bold;
				}
			}
		}
	}
}

a {
	color: $secundaryColor;
	text-decoration: none;
}

li {
	list-style: none;
}

main {
	margin-top: 100px !important;
}

img {
	transition: 0.5s;
}

.destacadas__titulo--primaryColor,
.tambienVer__titulo--primaryColor,
.instagram__titulo--primaryColor,
.ultimasNoticias__titulo--primaryColor,
.ultimasNoticias__nota-titulo--primaryColor,
.redactores__titulo--primaryColor,
.contacto__titulo--primaryColor,
.contacto_label--primaryColor {
	color: $primaryColor;
}

p {
	color: $secundaryColor;
	font-size: 16px;
}

.tambienVer {
	border-right: $border;
	margin-right: 10px;

	.tambienVer__articulo {
		text-align: justify;
	}
}

.trTitle {
	background-color: rgba($primaryColor, 0.5);

	th {
		color: $secundaryColor;
	}
}

td {
	color: $secundaryColor;
}

.form-label {
	margin: 0;
}

.form-select {
	display: inline-block;
	width: 150px;
}

h2 {
	text-align: center;
}

h1 {
	@extend h2;
	font-size: 2.25em;
}

.destacadas__noticias {
	display: grid;
	grid-template-columns: repeat(3, 4fr);
	border-bottom: $border;

	.destacadas__noticia {
		margin: 25px;
		display: grid;
		grid-template-rows: repeat(2, auto);
		row-gap: 15px;

		.destacadas__img {
			width: 300px;
		}
	}
}

.side-to-side {
	display: grid;
	grid-template-columns: 7fr 5fr;
	margin-top: 10px;
	margin-bottom: 10px;

	.tambienVer__titulo,
	.instagram__titulo {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.tambienVer__notas {
	display: grid;
	grid-template-rows: repeat(3, 4fr);
	row-gap: 10px;

	.tambienVer__nota {
		display: grid;
		grid-template-columns: 150px auto;
		column-gap: 10px;
		box-sizing: content-box;
		border-bottom: $border;
		padding-bottom: 10px;
		margin-right: 5px;
		height: 170px;

		&:last-of-type {
			border: 0;
			padding: 0;
		}

		.tambienVer__img {
			width: 150px;
		}

		.tambienVer__articulo {
			margin: 0;
			overflow: hidden;
			width: 98%;
		}
	}
}

.instagram__imgs {
	display: grid;
	grid-template-columns: repeat(3, 4fr);
	grid-template-rows: repeat(3, 4fr);
	column-gap: 10px;
	row-gap: 10px;

	.instagram__img {
		width: 200px;
	}
}

#suscripcion {
	border-top: $border;
}

.table {
	margin: 0;
}

#back-to-start {
	img {
		position: fixed;
		left: 95%;
		bottom: 10%;
		width: 50px;
		background-color: #708090;
		border-radius: 10px;
	}
}

.footer {
	position: relative;
	bottom: 0;
	margin-top: 15px;

	.footer__copy-right {
		color: #f5f5f5;
		position: absolute;
		top: 10%;
		left: 2%;
	}

	.footer__rrss {
		position: absolute;
		top: 10%;
		right: 2%;
	}

	.footer__rrss-img {
		width: 50px;
		margin: 0 5px;
	}
}

.ultimasNoticias {
	.ultimasNoticias__noticia {
		border-bottom: $border;
		margin-bottom: 20px;

		&:last-of-type {
			border: 0;
			margin: 0;
			padding: 0;
		}
	}

	.ultimasNoticias__nota-img {
		display: block;
	}
}

.redactores {
	.redactores__redactor {
		display: grid;
		grid-template-areas:
			"photo description"
			"photo rrss";
		grid-template-columns: 2fr 10fr;
		grid-template-rows: auto auto;
		column-gap: 1%;
		padding-bottom: 20px;
		border-bottom: $border;
		margin-bottom: 20px;

		&:last-of-type {
			border: 0;
			margin: 0;
			padding: 0;
		}
	}

	.redactores__img {
		grid-area: photo;
		width: 250px;
	}

	.redactores__description {
		grid-area: description;
		font-size: 1.2em;
		margin: 0;

		.redactores__nombre {
			color: $primaryColor;
		}
	}

	.redactores__rrss {
		grid-area: rrss;
		justify-self: end;

		.redactores__titulo-rrss {
			color: $primaryColor;
		}

		.redactores__img-rrss {
			width: 50px;
			justify-self: end;
		}
	}
}
.redactores__titulo,
.ultimasNoticias__titulo {
	margin-bottom: 30px;
}

.contacto {
	.contacto__btns {
		display: grid;
		margin-top: 15px;
		grid-template-columns: repeat(2, 25%);
		column-gap: 50px;
	}
}

.btn-primary {
	background-color: $primaryColor;
	border-color: $primaryColor;

	&:hover {
		@extend .btn-primary;
	}

	&:focus {
		@extend .btn-primary;
		box-shadow: none;
	}
}

/* ########## RESPONSIVE ########## */

@media only screen and (min-width: 1201px) {
	div {
		img {
			&:hover {
				transform: scale(1.3);
			}
		}
	}

	.destacadas__img {
		margin: 0 auto;
		&:hover {
			margin-bottom: 5%;
		}
	}

	.tambienVer__img {
		&:hover {
			margin-right: 25%;
		}
	}

	.ultimasNoticias {
		margin: 0 auto;
		.ultimasNoticias__nota-img {
			margin: 0 auto;
			&:hover {
				margin-top: 5%;
				margin-bottom: 8%;
			}
		}
	}
}

.error-page {
	display: grid;
	height: 100%;
	place-content: center;

	.error-title {
		color: $primaryColor;
	}

	.return-btn {
		width: 150px;
		height: 50px;
		margin: 0 auto;
		font-weight: bold;
		color: $secundaryColor;
		background-color: $primaryColor;
		border-radius: 10px;
		transition: 0.5s;

		&:hover {
			color: $secundaryBgColor;
			transform: scale(1.1);
		}
	}
}

@media only screen and (max-width: 1200px) {
	h1 {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.destacadas__noticias {
		display: block;

		.destacadas__noticia {
			border-bottom: $border;

			&:last-of-type {
				border: 0;
			}
		}
	}

	.side-to-side {
		display: block;
	}

	.tambienVer {
		border-right: 0;
		border-bottom: $border;
	}

	#back-to-start {
		img {
			left: 90%;
			bottom: 10%;
		}
	}
}

@media only screen and (max-width: 900px) {
	.header {
		.header__logo {
			width: 200px;
		}

		.header__menu-img {
			display: block;
			width: 30px;
		}

		.header__principal-menu {
			display: block;
			position: fixed;
			right: 2%;
			top: 10px;

			.header__list-principal-menu {
				display: none;

				a {
					margin-top: 5px;
					border: 0;
					text-align: center;
				}
			}

			&:hover {
				.header__list-principal-menu {
					display: block;
					position: absolute;
					width: 200px;
					top: -10px;
					right: 0;
					background-color: rgba(0, 0, 0, 0.5);
					padding: 0;
				}
			}
		}
	}

	main {
		margin-top: 55px;
	}

	.ultimasNoticias__nota-img {
		width: 500px;
	}

	.redactores__description {
		font-size: 1em;
		overflow: scroll;
		max-height: 300px;
	}
}

@media only screen and (max-width: 600px) {
	.instagram {
		display: none;
	}

	#suscripcion {
		border: 0;
	}

	table,
	p {
		font-size: 0.8em;
	}

	.destacadas {
		.destacadas__img {
			width: 200px;
		}
	}

	.ultimasNoticias__nota-img {
		width: 300px;
	}

	.footer {
		min-height: 40px;

		.footer__copy-right {
			top: 5%;
		}

		.footer__rrss {
			top: 13%;
		}

		.footer__rrss-img {
			width: 30px;
		}
	}

	.redactores {
		.redactores__redactor {
			align-items: flex-start;
		}

		.redactores__img {
			width: 200px;
		}

		.redactores__description {
			font-size: 0.8em;
		}

		.redactores__rrss {
			.redactores__img-rrss {
				width: 30px;
			}
		}
	}
}
